/* Universal Rules */

* {
  box-sizing: border-box;
  font-family: "Neue";
  transition: background-color 0.3s linear;
}

body {
  overflow: hidden;
}

html {
  padding: 50px;
}

body, #root, .App, html {
  height: 100%;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 50px;
  transition: background-color 0.3s linear;
}

#home {
  justify-content: flex-start;
}

#home, .body-left{
  display: flex;
  flex-grow: 1;
}

nav, .body-right{
  width: 40%;
}

#navigation {
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  gap: 20px;
}

#navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  text-decoration: none;
  text-align: center;
  font-weight: 200;
  padding: 10px 20px;
  border: 1px solid var(--overlay-color);
  border-radius: 20px;
  top: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: var(--overlay-color);
  z-index: 0;
  width: 130px;
  pointer-events: auto;
  background-color: var(--background-color);
  transition: all 0.3s ease-in-out;
}

.button:hover, li.highlighted .button {
  background-color: var(--overlay-color);
  color: var(--background-color);
}

.cardLink {
  text-decoration: none;
  color: inherit;
  height: 100%;
  width: 100%;
}

.cardLink > * {
  text-decoration: none;
  color: inherit;
}

header, .body{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 80px;
  flex-grow: 1;
}

#name {
  font-family: "Seasons";
  font-size: 200%;
  font-weight: bold;
  text-align: left;
}

.hamburger{
  color: var(--background-color);
  display:none;
  background-color: var(--overlay-color);
  font-weight: 200;
  padding-top:4px;
  border: 1px solid var(--overlay-color);
  border-radius: 20px;
  cursor: pointer;
  width: 80px;
  height: 40px;
  font-size: 150%;
}

.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

@media (max-width: 730px) {
  .App{
    gap: 20px;
  }

  .allParent {
    height: calc(100% - 78px);
  }

  .body {
    flex-direction: column;
    gap: 10px;
    height: 100%;
    overflow: hidden;
  }

  .hamburger{
    display:block;
    cursor: pointer;
  }

  #name {
    font-size: 150%;
  }

  html {
    padding: 30px;
  }
  
  nav {
    display: flex;
    align-items: center; 
    justify-content: right;
    position: relative;
  }

  #navigation {
      flex-direction: column;
      position: absolute;
      top: 30px;
      padding-top: 10px;
      right: 0px;
      margin: 0;
      display: none;
      gap: 10px;
      z-index: 999;
      pointer-events: none;
  }


  #navigation.showNav{
    display: flex;
  }

}

