* {
  box-sizing: border-box;
  font-family: "Neue";
  transition: background-color 0.3s linear;
}


body {
  overflow: hidden;
}

.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 50px;
}

@font-face {
  font-family: Seasons;
  src: url("./fonts/seasons/regular.otf") format("opentype");
}

@font-face {
  font-family: Seasons;
  font-weight: bold;
  src: url("./fonts/seasons/bold.otf") format("opentype");
}

@font-face {
  font-family: Seasons;
  font-weight: lighter;
  src: url("./fonts/seasons/light.otf") format("opentype");
}


@font-face {
  font-family: "Neue";
  src: url("./fonts/neue/bold.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Neue";
  font-weight: 200;
  src: url("./fonts/neue/roman.ttf") format("truetype");
}


@font-face {
  font-family: "Neue";
  font-weight: 100;
  src: url("./fonts/neue/thin.ttf") format("truetype");
}

#name {
  font-family: "Seasons";
  font-size: 200%;
  font-weight: bold;
  text-align: left;
}

/* #title {
  writing-mode: vertical-rl;
  transform: scale(-1);
  text-align: right;
  margin: 10px;
  font-size: 108%;
  padding-right: 20px;
} */


#home, .body-left{
  display: flex;
  width: 40%;
}

#home {
  justify-content: flex-start;

}

nav, .body-right{
  width: 40%;
  flex-shrink: 1;
}

#navigation {
  display: flex;
  justify-content: right;
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  height: 40px;
  gap: 20px;
}


#navigation li {
  display: flex;
  align-items: center;
  justify-content: center;
}

#navigation a {
  text-decoration: none;
  font-weight: 200;
  padding: 10px 20px;
  border: 1px solid black;
  border-radius: 20px;
  top: 20px;
  overflow: hidden;
  cursor: pointer;
  position: relative;
  color: black;
  z-index: 0;
}

#navigation a::after {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  mix-blend-mode: difference;
}

#navigation a::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transition: left 0.3s ease;
  z-index: -1;
}

#navigation .right.nothighlighted a:hover::after, #navigation .right.nothighlighted a:hover::before{
  left: -85%;
}

#navigation .left.nothighlighted a:hover::after, #navigation .left.nothighlighted a:hover::before{
  left: 85%;
}

.highlighted a::after, .highlighted a::before {
  left: 0;
  transition: left 0.3s ease;
}

.right.nothighlighted a::after, .right.nothighlighted a::before {
  left: -100%;
}

.left.nothighlighted a::after, .left.nothighlighted a::before {
  left: 100%;
}



html {
  padding: 50px;
}

body, #root, .App, html {
  height: 100%;
}

.body{
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
}




header, .body{
  display: flex;
  justify-content: space-between;
  align-items: top;
  gap: 50px;
}

.project-count{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Seasons";
  font-weight: bold;
  font-size: 120%;
  width: 30px;
  height: 30px;
  background-color: #D9D9D9;
  border-radius: 100%;
}

.project-header{
  font-family: "Seasons";
  text-align: left;
  font-size: 250%;
  margin: 0px;
}

.project-header-parent{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}

.project-list{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style-type: none;
  align-items: left;
  margin: 0px;
  padding: 0px;
}

.project-list a{
  display: flex;
  align-items: center;
  font-weight: 100;
  text-align: left;
  font-size: 180%;
  padding-left: 0px;
  cursor: pointer;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid black;
  padding: 10px 0px;
  margin-right: 10px;
}

.project-list li{
  transition: all 0.3s ease-in-out;
}

.projects {
  overflow-y: hidden;
  position: relative;
  height: calc(100vh - 227px); /* this is the border*2 and the gap between nav and height of nav*/
}

.project-list a:hover li{
  padding-left: 30px;
}

.project-list a::before {
  content: ''; /* Ensure the icon content is empty */
  display: inline-block; /* Make it inline so it's in line with the text */
  width: 16px; /* Adjust width as needed */
  height: 16px; /* Adjust height as needed */
  background-image: url('./assets/icon.svg'); /* Replace 'icon.svg' with the path to your SVG file */
  background-size: contain; /* Ensure the SVG icon fits within the specified dimensions */
  background-repeat: no-repeat; /* Prevent the icon from repeating */
  opacity: 1; /* Initially hide the icon */
  position: absolute;
  transition: all 0.3s ease-in-out; /* Apply transition for opacity */
  -webkit-transition: all 0.3s ease-in-out; /* Safari transition */
  left: -20px;
}

.project-list a:hover::before {
  opacity: 1; /* Show the icon on hover */
  transform: rotate(360deg); /* Rotate the icon */
  animation: spin 3s infinite linear; /* Rotate the icon indefinitely */
  left: 0%;
}

/* Define the additional text */
.project-list a::after {
  content: 'VIEW →'; /* Add the additional text */
  display: inline-block; /* Make it inline so it's in line with the text */
  opacity: 0; /* Initially hide the text */
  text-align: right;
  flex-grow: 1; /* Allow the text to grow and fill the remaining space */
  font-size: 60%;
  transition: all 0.3s ease-in-out;
  -webkit-transition: opacity 0.3s ease-in-out; /* Safari transition */
  font-weight: 400;
}

.project-list a:hover::after {
  opacity: 1;
}



@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}


.portfolio-image, .portfolio-preview{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
}

.portfolio-preview{
  background-color: #DADADA;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
  text-align: left;
  transition: all 0.3s ease;
}

.portfolio-preview div{
  background-color: transparent;
}

.portfolio-preview-title{
  font-size: 400%;
  font-family: Seasons;
}

.portfolio-preview-description{
  font-size: 100%;
  font-family: Neue;
  font-weight: 200;
  text-align: left;
}

.lower-align{
  align-items: flex-end;
}



.fadeIn {
  animation: 0.5s fadeIn forwards;
}

.fadeOut {
  animation: 0.5s fadeOut forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate(-20px, 0);
  }
  to {
    opacity: 1;
    transform: translate(0px, 0px);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translate(0px, 0px);
  }
  to {
    transform: translate(-20px, 0);
    opacity: 0;
  }
}



.pointer{
  position: fixed;
  bottom: -22px;
  background-color: rgba(255, 0, 0, 0);
  z-index: 200;
}

.pointerParent{
  cursor: pointer;
  position: relative;
  left: -22px;
}

.hidePointer{
  transform: rotate(180deg); /* Rotate the element by 45 degrees */
}

.showPointer{
  transform: rotate(0deg); /* Rotate the element by 45 degrees */
}

/* For WebKit browsers (e.g., Chrome, Safari) */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
  margin-top: 50px;
}

::-webkit-scrollbar-track {
  background: none;
  margin-top: auto; /* Push the scrollbar track to the bottom */
}

::-webkit-scrollbar-thumb {
  background: none; /* Color of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: none; /* Color of the thumb on hover */
}

.firefox-scroll {
  scrollbar-width: none; /* Firefox 64 */
}

body {
  scrollbar-color: none; /* Color of the thumb and track */
}

.expanded{
  transform: scale(5); 
}